:root {
  --color-primary: #ffb5b5;
  --color-compliment: #b11010;
  --text-foreground: #333;
  --compliment-foreground: #fff;
}

.chat-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin : 0 auto;
  opacity: 0.3;
}
.chat-container .list-group .active{
  background-color: var(--color-primary);
  color: var(--text-foreground);
}

.block-bold{
  display: block;
  margin-bottom: 5px;
}

.chat-container #resolveBtn, .chat-container #sendBtn{
  background-color: var(--color-primary);
  color: var(--text-foreground);
  border-color: var(--color-compliment);
}
.chat-container #resolveBtn:hover, .chat-container #sendBtn:hover{
  background-color: var(--color-compliment);
  color: var(--compliment-foreground);
}

.threads {
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}
.chat-messages {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #f9f9f9;
}
.chat-input {
  border-top: 1px solid #ddd;
  padding: 0.5rem;
  background: #fff;
}
#descToggleBtn{
  color: black;
}
#quest-description{
  margin: 10px;
  color:#333;
}
.chat-message {
  margin-bottom: 1rem;
  border-radius: 20px 20px 20px 0px;
  display: block;
  background: #ffffff;
  padding: 16px;
  border: 1px solid gray;
}
.blue-message {
  background-color: var(--color-compliment);
  color: var(--compliment-foreground);
  border-radius: 20px 20px 0px 20px;
}

#chatForm textarea{
  width:100%;
  min-height: 50px;
  max-height: 200px;
}

.chat-message .author {
  font-weight: bold;
  color: inherit;
}
.chat-message .time {
  font-size: 0.8rem;
  color: inherit;
  opacity: 0.6;
}
.chat-message .text {
  margin-top: 0.25rem;
  color: inherit;
}
.attachments img {
  max-width: 120px;
  margin-right: 0.5rem;
}
