<header class="site-header">
  <div class="left-nav">
    <a href="/">Home</a>
    <a href="/quest-board">Quest Board</a>
    <a href="/quest-chat">Quest Chat</a>
    <a href="/character">Character</a>
  </div>

  <div class="right-nav">
    <a href="/login" class="btn small-btn">Login</a>
    <a href="/register" class="btn small-btn">Register</a>
  </div>
</header>
