<div style="position: fixed;width:100%;top:0;">
<header class="site-header">
  <div class="left-nav">
    <a href="/"><span id="logo"><i class="fa-solid fa-note-sticky"></i>Bravequests</span></a>
    
    <a href="/quest-board"><button>Quest Board</button></a>
    <a href="/quest-chat"><button>Quest Chat</button></a>
    <a href="/character"><button>Character</button></a>
    <a href="/request-help"><button>Request Help</button></a>
  </div>

  <div class="right-nav">
    <a href="/login" class="btn small-btn"><i class="fa-regular fa-user"></i>
    
      <% if (typeof user !== "undefined" && user) { %>
      <span><%= user %></span>
      <% } else { %>
      <span>Login</span>
      <% } %>
    
    </a>
    <% if (typeof user !== "undefined" && user) { %>
      <a href="/logout" class="btn small-btn">Logout</span></a>
    <% } %>
  </div>
</header>
</div>
<div style="height: 50px;"></div>
