<nav>
  <a href="../../views/index.ejs">Home</a>
  <a href="../../views/quest-board.ejs">Quests</a>
  <a href="../../views/character.ejs">Character</a>
  <a href="../../views/request-help.ejs">Request</a>
</nav>
