<% if (typeof user == "undefined" || !user) { %>
<div id="notSignedInBulletin">
  <div class="bulletin-box">
    <h1>You are not signed in</h1>
    <p>Please log in to continue.</p>
    <a href="/login" class="login-btn">Log In</a>
  </div>
</div>
<% } %>
